body {
  background-color: #f2f0ea;
  font-family: sans-serif;
}

.dark-mode {
  background-color: black;
}
.nav-logo {
    width: 170px; 
    height: 50px;
    margin-left: 80px;
    justify-content: center;
}
.parent-container {
  display: flex;
  justify-content: center;
  max-width: 600px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.bg-light {
  min-width: 320px;
}

.navbar-toggler {
  display: none;
}
.centered {
  margin: 15px;
  text-align: center;
}

.headerArea{
  display: flex;
  justify-content: center;
  align-items: center;
}

#editButton {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.profileName, 
.editProfile {
  margin-top: 20px;
  padding: 5px;
  align-items: center;
  position: relative;
}
.default-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Optional: centers content vertically */
}

.create-default {
  width: 150px; /* Set the desired width */
  height: 150px; /* Set the desired height */
  object-fit: cover; /* Ensures the image covers the box, cropping as needed */
  border-radius: 8px; /* Optional: adds rounded corners */
  border: 1px solid #ccc; /* Optional: adds a border */
}

div[class^="modal-body"]{
  background-color: black;
  color: white;
}
div[class^="follower_list"], div[class^="following_list"] {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.follower_pfp {
  display: flex;
  flex-direction: column;
}

img[id^="followerpfp"]{
  border: 1px solid lightgray;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}
.follower_name {
  align-items: center;
  width: 50px;
  padding-left: 10px;
  align-items: center;
}
.error {
  color: red;
  text-align: center;
  font-size: 12px;
  padding: 10px;
}

#center-header {
  text-align: center;
  margin:20px;
  font-weight: bold;
  text-decoration: none;
}

.profile_headers {
  margin-top: 40px;
}
.form {
  background-color: #fff;
  padding: 1rem;
  max-width: 350px;
  min-width: 300px;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

#listingsContainer {
  justify-content: center; /* Adjust as needed */
  padding: 30px;
}

#listingsRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Adjust as needed */
  padding-left: 60px;
}

.form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.input-container {
  position: relative;
}

.input-container input, .form button {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

.input-container input {
  background-color: #fff;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.submit {
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: black;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  border-radius: 0.5rem;
  text-transform: uppercase;
}
.header {
  color: black;
  font-size: 25px;
  text-align: center;
}

.d-block {
  width: 100%;
  height: 500px;
}

#carouselExampleIndicators {
  width: 100%;
  height: 500px;
}





#price {
  font-size: 25px;
  margin: 0px;
  text-align: left;
  font-weight: bold;
  color: rgb(102, 102, 102);
}
.signup-link {
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.signup-link a {
  text-decoration: underline;
}

#carouselContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 200px;
  height: 320px;
}

#smallimg-container {
  margin-left: auto;
  margin-right: auto;
  justify-content: flex-start;
  display: block;

}

.imglisting {
  border: 1px solid black;
}

.img-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Cover the entire container */
  height: 100%;
  background-color: #a4a4a4; /* Replace with your desired background color */
  z-index: -1; /* Place the background behind the image */
  opacity: .2; /* Adjust opacity as needed */
  border-radius: 5%;
}


#smallColumn {
  max-width: 300px;
  justify-content: center;
}

#profileHeader {
  margin: 20px 0px;
}

#smallRow {
  max-width: 900px;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.prodimg {
  display: block;
  width: 100%;
  padding: 20px;
}

.bidFormBlock{
  display: none;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 10px 25px 10px 0;
}

.alert-box {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: black;
  color: white;
  padding: 15px;
  border-radius: 5px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#index-watch-button{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
}

.cardText {
  font-family: arial;
  font-weight:bold;
  font-size: 20px;
}

.listing-section{
  display: flex;
  justify-content: center;
}

#smallerRow {
  justify-content: center;

}


#bottom-nav {
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}
/* <main-style> ============================ */
.menu__link {
  color: white;
  line-height: 2;
  position: relative;
  padding-right: 4px;
}

.menu__link:hover {
  text-decoration: underline;
}

.carouselCaption {
  color:white;
}

.carousel-caption {
  max-width: 200px;
  max-height: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(164, 164, 164, 0.2);
  border-radius: 5%;
}

.menu__link::before {
  content: '';
  width: 6px;
  height: 6px;
  border-top: solid 2px white;
  border-right: solid 2px white;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%) rotate(45deg);
  transition: transform .4s;
}

.menu__link:hover::before {
  transform: translateX(4px) translateY(-50%) rotate(45deg);
}

.nav-pfp {
  padding-right: 25px;
}

.nav-item {
  margin-left: 8px;
  margin-right: 8px;
}
.listingAuthor {
  color: gray;
  font-family: arial;
  font-weight: bold;
  font-size: 18px;
}
/* before adding the img to the div with the 
"card-img" class, remove css styles 
.card-img .img::before and .card-img .img::after,
then set the desired styles for .card-img. */
.card {
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  --main-focus: #2d8cf0;
  width: 230px;
  height: 300px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  gap: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card:last-child {
  justify-content: flex-end;
}

.card-img {
    /* clear and add new css */
  transition: all 0.5s;
  display: flex;
  justify-content: center;
}

.card-title {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: var(--font-color);
}

.card-subtitle {
  font-size: 14px;
  font-weight: 400;
  color: var(--font-color-sub);
}

.card-divider {
  width: 100%;
  border: 1px solid var(--main-color);
  border-radius: 50px;
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-btn {
  height: 30px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  padding: 0 15px;
  transition: all 0.3s;
}

.card-img:hover {
  transform: translateY(-3px);
}

.card-btn:hover {
  border: 2px solid #4F46E5;
  color: #4F46E5
}

.card-btn:hover svg {
  fill: var(--main-focus);
}

.card-btn:active {
  transform: translateY(3px);
}

.btn-close {
  background-color: white;
  color: white;
  border: none;
}

.btn-dark {
  width: 120px;
}
.btn-light {
  border-radius: 100%;
}

#inputs {
  border-bottom: solid 2px black;
  text-align: center;
  margin: 10px;
  background-color: white;
  color: black;
}

#inputs::placeholder{
  color: black;
}


#custom-button {
  margin: 10px;
  padding: 5px; 
}
.create-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 450px;
  height: 520px;
  padding: 20px;
  border-radius: 10px;
  border: 3px solid black;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 10px;
  background-color: lightgray;
  color: black;
}

.create-div {
  margin-top: 10px;
}
.create-form label #inputs {
  position: absolute;
  left: 10px;
  top: 15px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

#image-input {
  text-align: center;
  margin-left: 50px;
  padding: 10px;
  display: none;
}


.commentnhead, .image-box, .inner-container {
  padding: 50px;
  height: auto;
  width: 33%;
}


.picture-edit {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid darkgray;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  max-height: 200px;
}
.profile_picture{
  position: relative;
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
  max-height: 250px;
}



.img-container:hover {
  transform: scale(1.05); /* Slightly increase the size of the container */
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.3); /* Add a shadow for a popping effect */
  border-radius: 5%;
}

.img-container:hover img {
  transform: scale(1.05); /* Slightly increase the size of the image */
}
.image-box {
  position: relative;
  display: inline-block;
  height: 400px;
  border-radius: 5px;
  background-color: rgba(164, 164, 164, 0.2);
}

#meatball-menu {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  font-size: 1.5em;
  cursor: pointer;
  z-index: 10;
}

.image-view {
  width: 100%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;

}

#header-container {
  display: flex;
  flex-direction: row;
}

#mobile-header-container {
  display: none;
}

#listingRow {
  align-items: center;
  padding: 60px;
}

.watch-button {
  padding-left: 15px;
}
.listin-view-image {
  display: inline-block;
}

.lower-card {
  padding: 15px;
  width: 250px;
}

#smaller-lower-card {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.form-container {
  display: flex;
  justify-content: center;
}

#button-bid {
  margin-bottom: 50px;
}
.form-bid {
  border: 1px solid;
}

.bid-price {
  padding: 20px;
  margin-bottom: auto;
}

.boton-elegante {
  padding: 8px 30px;
  border: 2px solid #2c2c2c;
  background-color: #1a1a1a;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
  height: 40px;
  width: 90px;
  margin: 10px;
}

.boton-elegante::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: scale(0);
  transition: transform 0.5s ease;
}

.boton-elegante:hover::after {
  transform: scale(4);
}

.boton-elegante:hover {
  border-color: #666666;
  background: #292929;
}

.noComments {
  text-align: center;
}

.congratulations {
  text-align: center;
}

#comment_form, .form-bid {
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  padding-top: 10px;
  resize: none;
  outline: none;
  background-color: #f2f0ea;
  transition: height 0.3s ease, border-color 0.3s ease;

}

#inputs {
  resize: none;
  outline: none;
  color: black;
}
#inputs:placeholder-shown{
  color: lightgray;
}
#comment_form:focus {
  height: 100px;
  border-bottom: 1px solid #000;
}

.comment_section {
  display: flex;
  justify-content: center;
  border-radius: 8px;
  max-width: 100%;
  margin-top: 8px;
}

.comment-input-container {
  justify-content: center;
  width: 100%;
}

div[id^="comment-area"] {
  max-width: 400px;
  max-height: 370px;
  padding: 10px;     /* Fixed height to enable scrolling */
  overflow-y: scroll;
  border: 1px solid #ccc;
  border-radius: 2%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
.comment_button {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px; 
}


.comment-time {
  color: gray;
  margin-top: auto;
  margin-left: auto;
  font-size: 12px;
}

.comment_button.hidden {
  display: none;
}

#comment_button {
  display: flex;
  margin-left: auto;
}
.bottom-comment {
  margin-left: auto;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.deleteButton {
  margin-left: auto;
}
.commentTime {
  margin-top: auto;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-left: auto;
  width: 100%;
}
p[id^="like_count"]{
  padding: 5px;
}

.cancel-button, .comment_submit {
  background-color: #f1f1f1;
  border: none;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;

}

.comment_submit {
  background-color: black;
  color: #fff;
}

.comment_submit:disabled {
  background-color: lightgray;
  border-color: lightgray;
  cursor: default;
}
.comment_submit:disabled:hover {
  background-color: lightgray;
  border-color: lightgray;
}

.cancel-button:hover, .comment_submit:hover {
  background-color: #ccc;
}

.comment_submit:hover {
  background-color: #696969;
}

.closed-link {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.list-group-item {
  width: 100%;
  text-align: center;
}

.create-button {
  --color: black;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
 }
 
 .create-button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
 }
 
 .create-button:hover {
  color: #fff;
 }
 
 .create-button:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
 }
 
 .create-button:hover:before {
  top: -30px;
  left: -30px;
 }
 
 .create-button:active:before {
  background: black;
 }

 .category-button {
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #7d2ae8;
  transition: all 0.2s ease;
}

.category-button:active {
  transform: scale(0.96);
}

.category-button:before,
.category-button:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.category-button:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

.profile_pic {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  object-fit:cover;
}
.bio {
  text-align: center;
  margin: 15px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#bio_field {
  border-bottom: 1px solid white;
  padding: 5px;
  background-color: black;
  color: lightgray;
  outline: none;

}


.edit_bio {
  text-align: center;
  margin-top: 10px;
}

.follow-area {
  width: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.followed {
  display: flex;
  padding: 20px;
}
.follow-left, .follow-right {
  width: 50%;
}

#change_pic {
  display: none;
}

.edit_pfp {
  margin-left: auto;
  margin-right: auto;
  display:block;
  width:40px; 
  height:40px;
  border-radius: 100%;
  background-color: black;
  opacity: 70%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.edit_pfp:hover {
  opacity: 50%;
}

.makeChanges {
  background-color: black;
  border: 1px solid white;
  color: white;
  height: 35px;
  border-radius: 5%;
}

.fa-camera {
  padding: 10px;
}

.edit_pfp_div {
  position: absolute;
  top: 45%;
  left: 42%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.change_picture {
  margin-left: auto;
  margin-right: auto;
}

.comment-pic {
  border-radius: 100%;
  width: 100%;
  height: 100%
}

 .navPFP, .navPfP{
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

.comment-left{
  border: 1px solid lightgray;
  border-radius: 100%;
  max-width: 45px;
  max-height: 45px;
  min-width: 45px;
  min-height: 45px;

}

.noAuctions {
  margin-left: auto;
  margin-right: 50px;
}

.navPFP, .navPfP {
  border: 1px solid lightgray;
  border-radius: 100%;
  width: 45px;
  height: 45px;
}

.comment-right {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 100%;
}

.comment-user {
  font-weight: bold;
}

.comment-user:hover {
  text-decoration: underline;
}

div[class^="comment-box"] {
  display: flex;
  width:  100%;
  animation-name: show;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.modal-body, .modal-header,.modal-footer {
  background-color: black;
  color: white;
  border: black;
}
.listing-user:hover {
  text-decoration: underline;
  font-weight: bold;
}

.dropstart {
  margin-right: 30px;
}

.follow-links {
  cursor: pointer;
}
.follow-links:hover {
  text-decoration: underline;
}

.like-area {
  display: flex;
}

#profileContainer {
  justify-content: center;
}

#profileRow {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.header-div {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
}

.dropdown-item{
  display: flex;
  align-items: center;
  position: relative;
  background-color: black;
  border-bottom: 1px solid rgb(113, 118, 123);
  color: #71767B
}

#dropdownMenu {
  min-width: 80px; /* Set a minimum width */
  background-color: #fff; /* Change background color if necessary */
  border: 1px solid #ccc; /* Optional: Add border to the dropdown */
  border-radius: 5px; /* Optional: Rounds the corners */
  font-size: 13px;
  color: red;
}

/* Optional: If you want to style the dropdown items as well */
#dropdownMenu .list-group-item {
  cursor: pointer; /* Show pointer when hovering */
}

#dropdownMenu .list-group-item:hover {
  background-color: #f0f0f0; /* Change background on hover */
}
#dropdownMenu:hover{
  background-color: #f0f0f0;

}

.dropdown-item:hover {
  background-color: #2F3336;
  color: black;
}

.dropdown-menu {
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}

.dropdown-menu-center {
  left: 50%;
  transform: translateX(-40%);
}


a[id^='noti']{
  color: white;
  height: 70px;
  width: 100%;
}

a[id^='noti']:hover{
  color: white;
}

.noti-time {
  padding-left: 10px;
}

.notiTime{
  padding: 10px;
}
.noti-group {
  padding: 40px;
}
.notibell {
  color: black;;
}

.fa-circle {
  position: absolute;
  top: 35%;
  right: 2px;
}
.noti_listing {
  padding: 5px;
}

#listing-header {
  display: inline-block;
  white-space: nowrap;
  max-width: 100%;
  box-sizing: border-box;
}
.headerbox {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 5px;

}

#listingHeader {
  margin-bottom: auto;
  width: 100%;
  font-size: 28px;
}

.listing-tabs {
  display: none;
}
.more-noti {
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  color: white;
  border-bottom: rgb(113, 118, 123) 1px solid;
}



.notis-ul {
  text-align: center;
}

.noti-writing {
  margin-left: 20px;
}


.page-notis {
  padding: 5px;
  border: 1px solid lightgray;
}

.noti-page-list {
  width: 650px; /* Adjust the max-width as needed */
  margin: 0 auto; /* Center the list horizontally */
  border: 1px solid rgb(113, 118, 123);
}

#navbarText {
  display: none;
}

.inner-container {
  height: 400px;
}
@media (max-width:580px){

  .comment-input-container {
    display: none;
  }

  #listingsRow {
    padding-left: 10px;
  }

  .d-block, #carouselContainer, #carouselExampleIndicators {
    height: 300px;
  }

  .alert-box {
    top: 50%;
    left: 35%;
  }

  #listing-header {
   font-size: 20px;
   padding: 5px;
   font-weight: bold;
  }
  
  .commentnhead, .image-box, .inner-container {
    padding: 20px;
  }

  .bidForm {
    display: none;
  }

  #header-container {
    display: none;
  }

  #mobile-header-container {
    order: 1;
    display: flex;
    width:100%;
    justify-content: center;
    margin-top:15px;
  }

  .nav-link {
    color: black;
    text-decoration: none;
  }

  .nav-link:hover{
    color: black;
    font-weight: bold;
  }

  .comment-right {
    margin-left: 10px;
    width: 70%;
    text-align: left;
  }

  #listingHeader {
    width: 100%;
    display: flex;
    padding-left: 35px;
  }

  .listingInfo {
    width:100%;
  }

  .header-div {
    width: 50%;
    text-align: center;
  }

  .noti-page-list {
    width: 325px;
  }

  #listingRow {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }

  .comment_button {
   width:200px;
   justify-content: flex-start;
  }

.comment_button.hidden{
  border:1px solid;
}


  .commentnhead {
    display: none;
    order:5;
    text-align: center;
    justify-content: center;
  }
  
  .inner-container {
    width: 300px;
    height: 190px;
    order:4;
    padding-bottom: 20px;
  }

  div[id^="comment-area"] {
    min-width: 300px;
   
  }

  .commentnhead{
    min-width: 350px;
  }

  a[id^='noti']{
    height: 85px;
    width: 320px;
  }

  #dropdown-menu-noti {
      transform: translateX(18%) translateY(3%);
  }

  .noti_listing{
    padding: 0px;
    margin-left: 3px;
  }

  .noti-time {
    position: absolute;
    bottom: 5px;  /* Position 5px from the bottom */
    right: 5px;  /* Position 10px from the right */
    white-space: nowrap;
    font-size: 12px;
  }

  .notiTime {
    border: 1px solid;
    margin-left: auto;
  }

  .noti-writing{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    font-size: 11px;
    margin-left: 30px;
  }

  #long-writing {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
  }

  #long-content {
    border: 1px solid;
  }

  .noti-content{
    position: relative;
    padding:10px;
    height: 100%;
    width: 100%;
  }

  .navPFP {
    position: absolute;
    width: 45px;
  }

  .navPfP{
    width:45px;
  }

  .navbar-toggler {
    display: block;
    width: 20px;
    border: none;
  }

  .create-form {
    width: 80%;
  }

  .profile_picture {
    width: 170px;
    height: 170px;
  }

  .bio {
    text-align: center;
    margin: 15px;
    width:100%;
    margin-left: auto;
    margin-right: auto;
  }

  .profile_headers {
    width: 100%;
    margin: 0px;
    margin-top: 20px;
  }


  .overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1049;

  }

  .overlay.show {
    display: block;
  }

  #bottom-nav {
  width: 150px;
  height: 50px;
  margin-right: auto;
  padding: 0px;
}

#navbarText {
  position: fixed;
  display: block;
  top: 0;
  left: -250px; /* Hide it off the screen */
  width: 250px;
  height: 100%;
  background-color: white;
  color: gray;
  overflow-y: auto;
  transition: left 0.3s ease;
  z-index: 1050;
  padding-top: 10px;
}

#navbarText.show {
  left: 0;
}

.navbar-dark {
  display: none;
}

.nav-logo {
    margin-left: 0px;
}

.container-fluid {
  border: 1px solid;
}

#smallerRow {
  justify-content: flex-start;

}

#center-header {
  margin: 15px;
}

.lower-card {
  padding: 0px;
  width: 80px;
}

  .noComments {
    text-align: center;
    padding-left: 0px;
  }


  .img-container {
    width: 80px;
    height: 140px;
    display: flex;
    justify-content: flex-start;
  }

  #smaller-lower-card {
    width: 80px;
  }

  .listingAuthor {
    font-size: 10px;
  }

  .cardText {
    font-size: 14px;
  }

  .comment_form {
    width: 300px;
    justify-content: center;
    padding-right: 50px;
  }

  .image-box {
    order: 2;
    width: 300px;
    height: 400px;
  }

  .listing-tabs { 
      display: inline-block;
      order:3;
      width: 300px;
      padding: 10px;
  }

  .listing-tabs:hover {
    color: black;
  }

  .listing-tabs.active {
    color: black;
    font-weight: bold;
    text-decoration: underline;
  }

  .listing-tabs:focus {
    color: black;
    font-weight: bold;
    text-decoration: underline;
  }
  

}
@media (min-width: 1024px) and (max-width: 1500px){

  .commentTime {
     padding-left: 0px;
     padding-bottom: 0px;
     display: flex;
  }

  #listingsRow {
    padding-left: 20px;
  }

  .comment-time {
    font-size: 8px;;
  }


  .comment-left {
    max-width: 35px;
    max-height: 35px;
    min-width: 35px;
    min-height: 35px;
  }

  .comment-user {
    font-size: 12px;
  }

  .comment-text {
    font-size: 12px;
    margin-right: auto;
    width: 100%;
  }

  .comment-right {  
    margin-left: 5px;
  }
  

  .img-container {
    display: flex;
    justify-content: flex-start;
  }

  .input-container input {
    width: 100%;
  }

  .navbar-dark {
    font-size: 11px;
  }

  .noComments {
    text-align: center;
    padding-left: 25px;
  }

 

  #listingHeader {
    padding-left: 20px;
  }


  .comment-input-container {
    width: 270px;
  }
}

  @media (min-width: 581px) and (max-width: 1023px){

    .img-container {
      display: flex;
      justify-content: flex-start;
      width: 150px;
      height: 270px;
    }

    #smaller-lower-card {
      width: 150px;
    }

    div[id^="comment-area"] {
      min-width: 300px;
     
    }

    .commentnhead{
      min-width: 350px;
    }

    .cardText {
      font-size: 16px;
    }

    .listingAuthor {
      font-size: 12px;
    }

    .lower-card {
      padding: 15px;
      width: 200px;
    }

    #listingsRow{
      padding-left: 10px;
    }

    .d-block, #carouselContainer, #carouselExampleIndicators {
      height: 300px;
    }

    .commentnhead, .image-box, .inner-container {
      padding: 20px;
    }

    .overlay {
      display: none;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1049;
  
    }
  
    .overlay.show {
      display: block;
    }

    #navbarText {
      position: fixed;
      display: block;
      top: 0;
      left: -250px; /* Hide it off the screen */
      width: 250px;
      height: 100%;
      background-color: white;
      color: gray;
      overflow-y: auto;
      transition: left 0.3s ease;
      z-index: 1050;
      padding-top: 10px;
    }
    
    #navbarText.show {
      left: 0;
    }

    .commentnhead {
      display: none;
      order:5;
      text-align: center;
      justify-content: center;
    }
    
    .comment_button {
      width:200px;
      justify-content: flex-start;
      padding-left: 30px;
     }
   
   .comment_button.hidden{
     border:1px solid;
   }

   #listingHeader {
    width: 100%;
    display: flex;
    padding-left: 35px;
  }

  .listingInfo {
    margin-left: 50px;
    width:100%;
  }


  .nav-link {
    color: black;
    text-decoration: none;
  }

  .nav-link:hover{
    color: black;
    font-weight: bold;
  }

  #header-container {
    display: none;
  }

  .bidForm {
    display: none;
  }

  .comment-input-container {
    display: none;
    width: 320px;
  }

  .alert-box {
    top: 50%;
    left: 35%;
  }

  #listing-header {
    font-size: 20px;
    padding: 5px;
    font-weight: bold;
   }

  #mobile-header-container {
    order: 1;
    display: flex;
    width:100%;
    justify-content: center;
    margin-top:15px;
  }

  .comment-right {
    margin-left: 10px;
    width: 70%;
    text-align: left;
  }

  .header-div {
    width: 50%;
    text-align: center;
  }

    .inner-container {
      width: 400px;
      height: 190px;
      order:4;
    }

    #image-container {
      margin:0px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      justify-content: center;
    }

    .noComments {
      text-align: center;
      padding-left: 0px;
    }




    .image-box {
      order: 2;
      min-width: 300px;
      margin-left: auto;
      margin-right: auto;
    }

    #listingRow {
      display: flex;
      flex-direction: column;
      padding: 0px;
    }


    .listing-tabs {
      display: inline-block;
      order:3;
      width: 300px;
      padding: 10px;
    }
  
    .listing-tabs:hover {
      color: black;
    }
  
    .listing-tabs.active {
      color: black;
      font-weight: bold;
      text-decoration: underline;
    }
  
    .listing-tabs:focus {
      color: black;
      font-weight: bold;
      text-decoration: underline;
    }

    .comment_form {
      width: 300px;
      justify-content: center;
      padding-left: 40px;
      
    }
  

    .navbar-toggler {
      display: block;
      width: 20px;
      border: none;
    }

    .navbar-dark {
      display: none;
    }
  }





@keyframes show {
  0% {
    opacity: 0;
    height: 0px;
    padding: 0px;
  }
  50% {
    opacity: 0;
    height: 100%;
    padding: 20px;
  }
  100%{
    opacity: 1;
    height: 100%;
    padding: 20px;
  }
}

@keyframes hide {
   0% {
        opacity: 1;
        height: 100%;
        line-height: 100%;
        padding: 20px;
        margin-bottom: 10px;
    }
    75% {
        opacity: 0;
        height: 100%;
        line-height: 100%;
        padding: 20px;
        margin-bottom: 10px;
    }
    100% {
        opacity: 0;
        height: 0px;
        line-height: 0px;
        padding: 0px;
        margin-bottom: 0px;
    }
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.category-button:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}


 @keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}


