.nav-logo {
    width: 45px; 
    height: 45px;
}

.mb-3 {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.center-text {
   text-align: center;
}

#suggestion {
    margin: 15px;
}