
.nav-logo {
    width: 45px; 
    height: 45px;
}

.centered {
  margin: 15px;
  text-align: center;
}

.form {
  background-color: #fff;
  display: block;
  padding: 1rem;
  max-width: 350px;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 300vh;
}

.btn {
  margin: 15px;
}

.container {
  padding: 30px;
  display: flex;
  align-items: center;
}


.form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.input-container {
  position: relative;
}

.input-container input, .form button {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

.input-container input {
  background-color: #fff;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 300px;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.submit {
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #4F46E5;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  border-radius: 0.5rem;
  text-transform: uppercase;
}
.header {
  margin-top: 15px;
  text-align: center;
  color: #4F46E5;
  font-weight: 500;
  font-size: 30px;
}
.signup-link {
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.signup-link a {
  text-decoration: underline;
}

/* before adding the img to the div with the 
"card-img" class, remove css styles 
.card-img .img::before and .card-img .img::after,
then set the desired styles for .card-img. */
.card {
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  --main-focus: #2d8cf0;
  width: 230px;
  height: 300px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  gap: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card:last-child {
  justify-content: flex-end;
}

.card-img {
    /* clear and add new css */
  transition: all 0.5s;
  display: flex;
  justify-content: center;
}

.card-title {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: var(--font-color);
}

.card-subtitle {
  font-size: 14px;
  font-weight: 400;
  color: var(--font-color-sub);
}

.card-divider {
  width: 100%;
  border: 1px solid var(--main-color);
  border-radius: 50px;
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-btn {
  height: 30px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  padding: 0 15px;
  transition: all 0.3s;
}

.card-img:hover {
  transform: translateY(-3px);
}

.card-btn:hover {
  border: 2px solid #4F46E5;
  color: #4F46E5
}

.card-btn:hover svg {
  fill: var(--main-focus);
}

.card-btn:active {
  transform: translateY(3px);
}

#inputs {
  border: solid 1px;
  text-align: center;
  margin: 10px;
}

.create-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid purple;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 10px;
}

.create-form label #inputs {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

#image-input {
  text-align: center;
  margin-left: 50px;
  padding: 10px;
}
.image-view {
  width: 600px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;

}

#header-container {
  height: 70px;
  margin-bottom: 15px;
}

.listin-view-image {
  display: inline-block;
}

.btn-light {
  margin-top: 40px;
}

#image-container {
  margin-top: 20px;
}

.form-container {
  display: flex;
  flex-direction: row;
}

#button-bid {
  margin-bottom: 50px;
}
.form-bid {
  border: 1px solid;
}

.input-add-on {
  height: 27px;
  width: 50px;
  cursor: pointer;
  border: 0;
  background-color: whitesmoke;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

.input-add-on:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.input-add-on:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

#comment_form {
  border: 1px solid;
  width: 700px;
}

.comment_section {
  text-align: center;
  width: 87%;
  padding: 30px;
}

.comment_button {
  width: 73%;
}

#comment_button {
  display: flex;
  margin-left: auto;

}

.close-form {
  margin: 25px;
  text-align: center;
  width: 85%;
}

.closed-link {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.create-button {
  --color: #560bad;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
 }
 
 .create-button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
 }
 
 .create-button:hover {
  color: #fff;
 }
 
 .create-button:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
 }
 
 .create-button:hover:before {
  top: -30px;
  left: -30px;
 }
 
 .create-button:active:before {
  background: #3a0ca3;
 }

 .category-button {
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #7d2ae8;
  transition: all 0.2s ease;
}

.category-button:active {
  transform: scale(0.96);
}

.category-button:before,
.category-button:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.category-button:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

.profile_pic {
  border-radius: 100%;
  border: solid black 3px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.profile_picture {
  margin: 15px;
}

.bio {
  text-align: center;
  margin: 15px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#bio_field {
  border: 1px solid black;
  padding: 5px;

}


.edit_bio {
  text-align: center;
  margin-top: 10px;
}

.follow-area {
  width: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.followed {
  display: flex;
}
.follow-left, .follow-right {
  width: 50%;
}

#change_pic {
  display: none;
}

.edit_pfp {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

.edit_pfp_div {
  text-align: center;
}

.change_picture {
  margin-left: auto;
  margin-right: auto;
}

.comment-pic {
  border-radius: 100%;
  width: 45px;
  border: 1px solid lightgray;
}

.comment-right {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.comment-user {
  font-weight: bold;
}

.comment-user:hover {
  text-decoration: underline;
}

.comment-box {
  display: flex;
  padding: 15px;
}

.listing-user:hover {
  text-decoration: underline;
  font-weight: bold;
}

.dropstart {
  margin-right: 30px;
}

.follow-links {
  cursor: pointer;
}
.follow-links:hover {
  text-decoration: underline;
}





@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.category-button:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}


 @keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}


