{% extends "Commerce/layout.html" %}

{% block body %}
    <h1 class="header">Categories</h1>
    <div class="centered">
        <form action="" method="post">
            {% csrf_token%}
            {{ form }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>  
        {% for category in categories %}
            <img src="../static/Images/{{ category.listing_image }}">
            <p>{{ category.listing_name }}</p>
        {% endfor %}
{% endblock %}