{% extends "Commerce/layout.html" %}
{% load humanize %}
{% block body %}
    {% for comment in comments %}
    <div class="comment-box">
        <div class="comment-left">
            {% if comment.comment_user.profile_pic %}
                <img class="comment-pic" src="{{ comment.comment_user.profile_pic.url }}" alt="{{ comment.comment_user }}">
            {% else %}
                <img class="comment-pic" src="../media/images/default_profile.png" alt="{{ comment.comment_user }}">
            {% endif %}
        </div>
        <div class="comment-right">
            <a href="{% url 'profile' profile_id=comment.comment_user.user.id %}" class="comment-user">{{ comment.comment_user }}</a>
            <p class="comment-text">{{ comment.comment_comment }}</p>
            {% if request.user.profile in comment.comment_likes.all %}
                <form action="{% url 'unlike_toggle' comment_id=comment.id %}" method="post">
                    {% csrf_token %}
                    <input name="unlike" type="hidden" value="{{ request.user.profile.id }}">
                    <button type="submit">Unlike</button>
                </form>
            {% else %}
                <form action="{% url 'like_toggle' comment_id=comment.id %}" method="post">
                    {% csrf_token %}
                    <input name="like" type="hidden" value="{{ request.user.profile.id }}">
                    <button type="submit">Like</button>
                </form>
            {% endif %}
            {% if comment.comment_likes.all|length != 0 %}
                <p>{{ comment.comment_likes.all|length }}</p>
            {% else %}
                <p></p>
            {% endif %}
            <p><small>{{ comment.comment_time|naturaltime }}</small></p>
        </div>
    </div>
    {% endfor %}
{% endblock %}