{% extends "Commerce/layout.html" %}

{% block body %}
    <h1 class="header">Active Listings</h1>
        <div class="row row-cols-1 row-cols-md-6 g-1 m-5">
        {% for listing in active_listings %}
                <div class="col">
                    <div class="card h-100">
                        <div class="card-img"><div class="img"><img src="{{ listing.listing_image.url }}" alt="{{listing.listing_name}}"></div></div>
                        <div class="card-title">{{ listing.listing_name }}</div>
                        <div class="card-subtitle">{{ listing.listing_description }}</div>
                        <hr class="card-divider">
                        <div class="card-footer">
                            <div class="card-price">
                                {% if listing.listing_bid_price is none %}
                                    <h5 class="card-title">$ {{ listing.listing_price }}</h5>
                                {% else %}
                                    <h5 class="card-title">$ {{ listing.listing_bid_price }}</h5>
                                {% endif %}
                            </div>
                            <a href="{% url 'listing' listing_id=listing.id %}"><button class="card-btn">View</button></a>
                        </div>
                    </div>
                </div>
        {% endfor %}
        </div>
{% endblock %}