{% extends "Commerce/layout.html" %}

{% block body %}
    <h1>Welcome!</h1>
    <h2>Active Listings</h2>
    <div class="container">
        {% for listing in active_listings %}
            <div class="card" style="width: 18rem;">
                <img src="../static/Images/{{ listing.listing_image }}" class="card-img-top" alt="{{listing.listing_name}}">
                <div class="card-body">
                    {% if listing.listing_bid_price is none %}
                    <h5 class="card-title">$ {{ listing.listing_price }}</h5>
                    {% else %}
                    <h5 class="card-title">$ {{ listing.listing_bid_price }}</h5>
                    {% endif %}
                    <p class="card-text">{{ listing.listing_name }}</p>
                    <a href="{% url 'listing' listing_id=listing.id %}" class="btn btn-primary">View</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}