{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cartio</title>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Cartio</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
      <script src="https://kit.fontawesome.com/8b6abeeef6.js" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
      <link href="{% static 'Commerce/styles.css' %}" rel="stylesheet">
  </head>
  
</head>
<body>
  <script>
    function notiClick(id) {
        const notiBell = document.getElementById(`bell${id}`);
        let notifications = document.querySelector('.position-absolute');

        fetch(`/noti_click/${id}`, {
            method: 'POST',
            headers: {
                'Content-type': 'application/json', "X-CSRFTOKEN": "{{csrf_token}}",
            },
            body: JSON.stringify({})
        })
        .then(response =>{
            return response.json()
        }) 
        .then(data => {
          if (notifications) {
            notifications.style.display = 'none';
          }
            console.log('Notifications:', data.data.notifs);
        })
        .catch(error => console.log(error, 'ERROR'))
    }

   function notiChange(id) {
        const notifs = document.getElementById(`noti${id}`);

        fetch(`/noti_change/${id}`, {
            method: 'POST',
            headers: {
                'Content-type': 'application/json', "X-CSRFTOKEN": "{{csrf_token}}",
            },
            body: JSON.stringify({})
        })
        .then(response =>{ 
            return response.json()
        }) 
        .then(data => {
            console.log('Read:', data.data.notifs);
        })
        .catch(error => console.log(error, 'ERROR'))
    }

     document.addEventListener('DOMContentLoaded', function() {
        let notifications = document.querySelectorAll('.notibell');
        notifications.forEach(button => {
            button.addEventListener('click', function(){
              user_id = button.getAttribute('data-id');
              notiClick(user_id)
            })
        })
        let dropNoti = document.querySelectorAll('.dropdown-item');
        dropNoti.forEach(button => {
            let isRead = button.getAttribute('data-reading');
            let circleIcon = button.querySelector('.fa-circle');   
            if (isRead === 'True') {
              button.style.backgroundColor = '#f2f2f2'; 
              circleIcon.remove()   
            }
          button.addEventListener('click', function(){
            noti_id = button.getAttribute('data-id');
            notiChange(noti_id);
          });
        });
     });
  </script>
      {% if not loggin %}
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarText">
                    <ul id="bottom-nav" class="navbar-nav me-auto mb-2 mb-lg-0">
                      <a class="navbar-brand" href="{% url 'index' %}"><img class="nav-logo" src="{% get_media_prefix %}images/Cartio (3).png"></a>
                    </ul>
                    {% if user.is_authenticated %}
                          {% if user.is_authenticated %}
                            <div class="nav-pfp">
                              <div class="dropdown">
                                {% if request.user.profile.profile_pic %}
                                  <a data-bs-toggle="dropdown" data-id="{{ user.id }}" aria-expanded="false" href="{% url 'profile' profile_id=user.id %}"><img class="comment-pic" src='{{ request.user.profile.profile_pic.url }}'></a>
                                {% else %}
                                  <a data-bs-toggle="dropdown" data-id="{{ user.id }}" aria-expanded="false" href="{% url 'profile' profile_id=user.id %}"><img class="comment-pic" src="{% get_media_prefix %}images/default_profile.png"></a>
                                {% endif %}
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item" href="{% url 'profile' profile_id=request.user.id %}">View profile</a>
                                  <a class="dropdown-item" href="{% url 'wishlist' %}">Wishlist</a>
                                  <a class="dropdown-item" href="{% url 'create_listing' %}">Create a listing</a>
                                </div>
                              </div>
                            </div>
                        {% endif %}
                        <div class="btn-group dropstart">
                          {% if button_disabled %}
                            <button class="notibell" id="bell{{user.id}}" data-bs-toggle="dropdown" data-id="{{ user.id }}" aria-expanded="false" disabled> 
                          {% else %}
                            <button class="notibell" id="bell{{user.id}}" data-bs-toggle="dropdown" data-id="{{ user.id }}" aria-expanded="false"> 
                          {% endif %}                 
                            <i class="fa-regular fa-bell fa-xl"></i>
                            {% if notifs.last.noti_count != 0 %}
                              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                {% if notifs.last.noti_count > 9 %}
                                    9+
                                {% else %}
                                    {{ notifs.last.noti_count}}
                                {% endif %}
                                <span class="visually-hidden">unread messages</span>
                              </span>
                            {% else %}
                                  <span style="display: none;"></span>
                            {% endif %}
                          </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <li class="more-noti"><b>Notifications</b></li>
                              {% for notif in notifs|dictsortreversed:"noti_time"|slice:":7" %}
                                    {% if notif.noti_follower %}
                                      {% if notif.noti_follower.profile_pic %}
                                        <li><a id="noti{{notif.id}}" class="dropdown-item"  data-reading="{{notif.noti_read}}" data-id="{{notif.id}}" href="{% url 'profile' profile_id=notif.noti_follower.user.id %}"><span id="noti-badge "></span><img class="comment-pic" src="{{notif.noti_follower.profile_pic.url}}"><div class='noti-content'><span class="noti-writing">{{ notif.noti_follower }} started following you</span></span><div class="noti-time"><span class="noti-time"><small>{{notif.noti_time|naturaltime}}</small></span></div></b><i class="fa-solid fa-circle fa-2xs" style="color: #dc3545;"></i></div></a></li>
                                      {% else %}
                                        <li><a id="noti{{notif.id}}" class="dropdown-item"  data-reading="{{notif.noti_read}}" data-id="{{notif.id}}" href="{% url 'profile' profile_id=notif.noti_follower.user.id %}"><span id="noti-badge "></span><img class="comment-pic" src="../media/images/default_profile.png"><div class='noti-content'><span class="noti-writing">{{ notif.noti_follower }} started following you</span></span><div class="noti-time"><span class="noti-time"><small>{{notif.noti_time|naturaltime}}</small></span></div></b><i class="fa-solid fa-circle fa-2xs" style="color: #dc3545;"></i></div></a></li>
                                      {% endif %}
                                    {% elif notif.noti_bid %}
                                      {% if notif.noti_bid == request.user.profile %}
                                        {% if notif.noti_bid.profile_pic %}
                                          <li><a id="noti{{notif.id}}" class="dropdown-item"  data-reading="{{notif.noti_read}}" data-id="{{notif.id}}" href="{% url 'listing' listing_id=notif.noti_listing.id %}"><span id="noti-badge "></span><img class="comment-pic" src="{{notif.noti_bid.profile_pic.url}}"><div class='noti-content'><span class="noti-writing">You just bid on your listing<i class="noti_listing">{{notif.noti_listing }}</i></span></span><div class="noti-time"><span class="noti-time"><small>{{notif.noti_time|naturaltime}}</small></span></div></b><i class="fa-solid fa-circle fa-2xs" style="color: #dc3545;"></i></div></a></li>
                                        {% else %}
                                          <li><a id="noti{{notif.id}}" class="dropdown-item"  data-reading="{{notif.noti_read}}" data-id="{{notif.id}}" href="{% url 'listing' listing_id=notif.noti_listing.id %}"><span id="noti-badge "></span><img class="comment-pic" src="../media/images/default_profile.png"><div class='noti-content'><span class="noti-writing">You just bid on your listing<i class="noti_listing">{{notif.noti_listing }}</i></span></span><div class="noti-time"><span class="noti-time"><small>{{notif.noti_time|naturaltime}}</small></span></div></b><i class="fa-solid fa-circle fa-2xs" style="color: #dc3545;"></i></div></a></li>
                                        {% endif %}
                                      {% else %}  
                                        {% if notif.noti_bid.profile_pic %}                
                                          <li><a id="noti{{notif.id}}" class="dropdown-item"  data-reading="{{notif.noti_read}}" data-id="{{notif.id}}" href="{% url 'listing' listing_id=notif.noti_listing.id %}"><span id="noti-badge"></span><img class="comment-pic" src="{{notif.noti_bid.profile_pic.url}}"><div class='noti-content'><span class="noti-writing">{{ notif.noti_bid }} has just bid on your listing<i class="noti_listing">{{notif.noti_listing }}</i></span><div class="noti-time"><span class="noti-time"><small>{{notif.noti_time|naturaltime}}</small></span></div><i class="fa-solid fa-circle fa-2xs" style="color: #dc3545;"></i></div></a></li>      
                                        {% else %}
                                          <li><a id="noti{{notif.id}}" class="dropdown-item"  data-reading="{{notif.noti_read}}" data-id="{{notif.id}}" href="{% url 'listing' listing_id=notif.noti_listing.id %}"><span id="noti-badge"></span><img class="comment-pic" src="../media/images/default_profile.png"><div class='noti-content'><span class="noti-writing">{{ notif.noti_bid }} has just bid on your listing<i class="noti_listing">{{notif.noti_listing }}</i></span><div class="noti-time"><span class="noti-time"><small>{{notif.noti_time|naturaltime}}</small></span></div><i class="fa-solid fa-circle fa-2xs" style="color: #dc3545;"></i></div></a></li> 
                                        {% endif %}                 
                                      {% endif %}
                                    {% elif notif.noti_winner %}
                                      {% if notif.noti_winner.profile_pic %}
                                        <li><a id="noti{{notif.id}}" class="dropdown-item"  data-reading="{{notif.noti_read}}" data-id="{{notif.id}}" href="{% url 'listing' listing_id=notif.noti_listing.id %}"><span id="noti-badge"></span><img class="comment-pic" src="{{notif.noti_winner.profile_pic.url}}"><div class='noti-content'><span class="noti-writing">Congratulations, {{ notif.noti_winner }}! You just won the auction<i class="noti_listing">{{notif.noti_listing }}.</i></span><div class="noti-time"><span class="noti-time"><small>{{notif.noti_time|naturaltime}}</small></span></div><i class="fa-solid fa-circle fa-2xs" style="color: #dc3545;"></i></div></a></li>    
                                      {% else %} 
                                        <li><a id="noti{{notif.id}}" class="dropdown-item"  data-reading="{{notif.noti_read}}" data-id="{{notif.id}}" href="{% url 'listing' listing_id=notif.noti_listing.id %}"><span id="noti-badge"></span><img class="comment-pic" src="../media/images/default_profile.png"><div class='noti-content'><span class="noti-writing">Congratulations, {{ notif.noti_winner }}! You just won the auction<i class="noti_listing">{{notif.noti_listing }}.</i></span><div class="noti-time"><span class="noti-time"><small>{{notif.noti_time|naturaltime}}</small></span></div><i class="fa-solid fa-circle fa-2xs" style="color: #dc3545;"></i></div></a></li> 
                                      {% endif %}
                                    {% endif %}
                              {% empty %}
                                <li><a id="noti{{notif.id}}" class="dropdown-item" href="">No notifications to display</a></li>
                              {% endfor %}
                              {% if notifs|length > 7 %}
                                <li class="more-noti"><a href="{% url 'noti_page' %}">See more</a></li>
                              {% endif %}
                            </ul>
                        </div>
                      {% endif %}
                    {% if user.is_authenticated %}
                    <span class="navbar-text">
                        <a class="nav-link" href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket fa-lg" style="color: #000000;"></i></a>
                    </span>
                    {% else %}
                    {% if not loggin %}
                    <span class="navbar-text">
                      <a class="nav-link" href="{% url 'login' %}">Login</a>
                  </span>
                  {% endif %}
                  {% endif %}
                    
                  </div>
                </div>
            </nav>
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
              <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                  <ul id="bottom-nav" class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'category' category_name='technology' %}">Technology</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'category' category_name='art' %}">Art</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'category' category_name='tools' %}">Tools</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'category' category_name='home' %}">Home</a>
                    </li>
              
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'category' category_name='auto' %}">Auto</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'category' category_name='memorabilia' %}">Memorabilia</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'category' category_name='sports' %}">Sports</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'category' category_name='fitness' %}">Fitness</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'category' category_name='clothing' %}">Clothing</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'category' category_name='health' %}">Health</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'category' category_name='beauty' %}">Beauty</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'category' category_name='travel' %}">Travel</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'category' category_name='pet' %}">Pet</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'closed_listing' %}">Closed listings</a>
                    </li>
                  </ul>               
                </div>
              </div>
          </nav>
        {% endif %}

        <div class="body">
            {% block body %}
            {% endblock %}          
        </div>
    
</body>
</html>