{% extends "Commerce/layout.html" %}
{% load humanize %}
{% block body %}
{% for listing in listings %}
    <div id="image-container" class="container">
        <img class="image-view" src="{{ listing.listing_image.url }}" alt="{{listing.listing_name}}">
        <div class="inner-container">
            <div id="header-container" class="container">
                <h1 class="header">{{ listing.listing_name }}</h1>
                {% if request.user.profile in listing.listing_wishlist.all and listing.listing_closed == False %}
                <form name="remove_wishlist" action="" method="post">
                    {% csrf_token %}
                    <button name="remove_wishlist" type="submit" class="btn btn-light"><i class="fa-solid fa-clock" style="color: #8c00ff;"></i></button>
                </form>
                {%  elif request.user.profile not in listing.listing_wishlist.all and listing.listing_closed == False  %}
                    <form name="add_wishlist" action=""  method="post">
                        {% csrf_token %}
                        <button name="add_wishlist" type="submit" class="btn btn-light"><i class="fa-regular fa-clock" style="color: #8c00ff;"></i></button>
                    </form>
                {% endif %}
            </div>
            {% if user.is_authenticated %}
            {% if listing.listing_bid_winner == request.user.profile and listing.listing_closed == True %}
                <h3>Congrats {{ listing.listing_bid_winner }}!, you've won this item.</h3>
            {% endif %}
            {% if listing.listing_closed == False %}
            <form class="form-container" name="bid" action="" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <div class="input-group-append">
                        <button name="bid" class="input-add-on" type="submit">Bid</button>
                    </div>
            </form>
            {% endif %}
            {% endif %}
            {% if listing.bidding_count == 0 %}
                <p>$ {{ listing.listing_price }}</p>
            {% else %}
                <p>$ {{ listing.listing_bid_price }}</p>
            {% endif %}
            <p>{{ listing.bidding_count }} bid(s) on this item.</p>
            <p>{{ listing.listing_description }}</p>
            <p>Category: {{ listing.listing_category }}</p>
            <small>Posted by <a class="listing-user" href="{% url 'profile' profile_id=listing.listing_user.user.id  %}">{{ listing.listing_user }}</a> {{ listing.listing_date|naturaltime }}</small>
        </div>
    </div>
    {% if user.is_authenticated %}
    {% if listing.listing_closed == False %}
    <div class="comment_section">
        <form name='comment' action="" method="post">
            {% csrf_token %}
            {{ formy }}
            <div class="comment_button">
                <button name="comment" id="comment_button" class="btn btn-primary" type="submit">Comment</button>
            </div>
        </form>
    {% endif %}
    </div>
    {% endif %}
    <h1>Comments</h1>
    {% for comment in comments %}
        <div class="comment-box">
            <div class="comment-left">
                {% if comment.comment_user.profile_pic %}
                    <img class="comment-pic" src="{{ comment.comment_user.profile_pic.url }}" alt="{{ comment.comment_user }}">
                {% else %}
                    <img class="comment-pic" src="../media/images/default_profile.png" alt="{{ comment.comment_user }}">
                {% endif %}
            </div>
            <div class="comment-right">
                <a href="{% url 'profile' profile_id=comment.comment_user.user.id %}" class="comment-user">{{ comment.comment_user }}</a>
                <p class="comment-text">{{ comment.comment_comment }}</p>
                {% if request.user.profile in comment.comment_likes.all %}
                    <form action="{% url 'unlike_comment' comment_id=comment.id %}" method="post">
                        {% csrf_token %}
                        <input name="unlike" type="hidden" value="{{ request.user.profile.id }}">
                        <button type="submit">Unlike</button>
                    </form>
                {% else %}
                    <form action="{% url 'like_comment' comment_id=comment.id %}" method="post">
                        {% csrf_token %}
                        <input name="like" type="hidden" value="{{ request.user.profile.id }}">
                        <button type="submit">Like</button>
                    </form>
                {% endif %}
                {% if comment.comment_likes.all|length != 0 %}
                    <p>{{ comment.comment_likes.all|length }}</p>
                {% else %}
                    <p></p>
                {% endif %}
                <p><small>{{ comment.comment_time|naturaltime }}</small></p>
            </div>
        </div>
    {% empty %}
    <p>No comments yet</p>
    {% endfor %}

    {% if listing.listing_user == request.user.profile and listing.listing_closed == False %}
    <div class="close-form">
        <form name="close" action="" method="post">
            {% csrf_token %}
            <button name="close" class="btn btn-danger" id="close_button" type="submit">Close Listing</button>
        </form>
    </div>
    {% endif %}

{% endfor %}

{% endblock %}