{% extends "Commerce/layout.html" %}

{% block body %}
<h1 class="center-text">Login</h1>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputUsername" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" id="exampleInputPassword1">
          </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="center-text">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
      <div id="suggestion" class="center-text">
        <p>New user?<a href="{% url 'register' %}">Register</a></p>
      </div>
{% endblock %}