{% extends "Commerce/layout.html" %}

{% block body %}
<h1 id="center-header" class="header">Wishlist</h1>
<div id="listingsContainer" class="container">
    <div id="listingsRow" class="row">
    {% for listing in wishes %}
    <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-4">
        <a href="{% url 'listing' listing_id=listing.id %}">
            <div class="img-container">
                <div class="img-background"></div>
                <div class="prodimg"><img src="{{ listing.listing_image.url }}" alt="{{listing.listing_name}}"></div>
        </a>
            </div>
        <a href="{% url 'listing' listing_id=listing.id %}">
            <div class="lower-card">
                <div class="titleCard">
                    <p class="cardText">{{ listing.listing_name }}</p>
                </div>
                <small class="listingAuthor">Listed by {{ listing.listing_user }}</small>
                    <div class="priceCard">
                        {% if listing.listing_bid_price is none %}
                            <p class="cardText">$ {{ listing.listing_price }}</p>
                        {% else %}
                            <p class="cardText">$ {{ listing.listing_bid_price }}</p>
                        {% endif %}
                    </div>
            </div>
        </a>                          
    </div>
{% endfor %}
</div>
</div>
{% endblock %}